<a href="https://colab.research.google.com/github/aarav2703/Bike-sharing-R/blob/main/Module_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WIKIPEDIA PAGE HAS BEEN UPDATED AND COLUMNS HAVE BEEN REMOVED-BICYCLES, RIDERSHIP AND STATIONS

raw_bike_sharing.csv is different from raw_bike_sharing_systems.csv

CITY HAS BEEN RENAMED TO CITY/REGIONS


To avoid errors csv files have been downloaded from the links provided by coursera

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ purrr::%||%()   masks base::%||%()
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

In [ ]:
# Define paths for each dataset
path_raw_bike_sharing_systems <- "/content/raw_bike_sharing_systems.csv"
path_raw_seoul_bike_sharing <- "/content/raw_seoul_bike_sharing.csv"
path_raw_cities_weather_forecast <- "/content/raw_cities_weather_forecast.csv"
path_raw_worldcities <- "/content/raw_worldcities.csv"

# List of dataset names with paths
dataset_list <- c(path_raw_bike_sharing_systems,
                  path_raw_seoul_bike_sharing,
                  path_raw_cities_weather_forecast,
                  path_raw_worldcities)

# Function to standardize column names
standardize_column_names <- function(dataset_name) {
  # Read dataset using read_csv
  dataset <- read_csv(dataset_name)

  # Standardize column names
  colnames(dataset) <- toupper(gsub(" ", "_", colnames(dataset)))

  # Write back to CSV
  write_csv(dataset, dataset_name, col_names = TRUE)
}

# Apply the function to each dataset
lapply(dataset_list, standardize_column_names)

# Read the resulting datasets back and check column names
for (dataset_name in dataset_list) {
  # Read CSV to check column names
  dataset <- read_csv(dataset_name)

  # Print dataset name and column names
  cat("\nDataset:", dataset_name, "\n")
  print(names(dataset))
}

Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, City, Name, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): Date, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, Hour, TEMPERATURE, HUMIDITY, WIND_SPEED, Visibi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): city, weather, season
dbl  (8): visibility, temp, temp_min, temp_max, pressure, humidity, wind_spe...
dttm (1): forecast_datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): City, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[[1]]
# A tibble: 480 × 10
   COUNTRY   CITY  NAME  SYSTEM OPERATOR LAUNCHED DISCONTINUED STATIONS BICYCLES
   <chr>     <chr> <chr> <chr>  <chr>    <chr>    <chr>        <chr>    <chr>
 1 Albania   Tira… Ecov… NA     NA       March 2… NA           8        200
 2 Argentina Mend… Metr… NA     NA       2014     NA           2        40
 3 Argentina San … Bici… Biciu… NA       27 Nove… NA           8        80
 4 Argentina Buen… Ecob… Sertt… Bike In… 2010     NA           400      4000
 5 Argentina Rosa… Mi B… NA     NA       2 Decem… NA           47       480
 6 Australia Melb… Melb… PBSC … Motivate June 20… 30 November… 53       676
 7 Australia Bris… City… 3 Gen… JCDecaux Septemb… NA           150      2000
 8 Australia Melb… oBike 4 Gen… NA       July 20… July 2018    dockless 1250
 9 Australia Sydn… oBike 4 Gen… NA       July 20… July 2018    dockless 1250
10 Australia Sydn… Ofo   4 Gen… NA       October… NA           dockless 600
# ℹ 470 more rows
# ℹ 1 more variable: DAILY_RIDERSHIP <chr>

[[2]]
# A tibble: 8,760 × 14
   DATE       RENTED_BIKE_COUNT  HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
   <chr>                  <dbl> <dbl>       <dbl>    <dbl>      <dbl>      <dbl>
 1 01/12/2017               254     0        -5.2       37        2.2       2000
 2 01/12/2017               204     1        -5.5       38        0.8       2000
 3 01/12/2017               173     2        -6         39        1         2000
 4 01/12/2017               107     3        -6.2       40        0.9       2000
 5 01/12/2017                78     4        -6         36        2.3       2000
 6 01/12/2017               100     5        -6.4       37        1.5       2000
 7 01/12/2017               181     6        -6.6       35        1.3       2000
 8 01/12/2017               460     7        -7.4       38        0.9       2000
 9 01/12/2017               930     8        -7.6       37        1.1       2000
10 01/12/2017               490     9        -6.5       27        0.5       1928
# ℹ 8,750 more rows
# ℹ 7 more variables: DEW_POINT_TEMPERATURE <dbl>, SOLAR_RADIATION <dbl>,
#   RAINFALL <dbl>, SNOWFALL <dbl>, SEASONS <chr>, HOLIDAY <chr>,
#   FUNCTIONING_DAY <chr>

[[3]]
# A tibble: 160 × 12
   CITY  WEATHER VISIBILITY  TEMP TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
   <chr> <chr>        <dbl> <dbl>    <dbl>    <dbl>    <dbl>    <dbl>      <dbl>
 1 Seoul Clear        10000 12.3     10.9     12.3      1015       50       2.18
 2 Seoul Clear        10000 11.5      9.81    11.5      1016       48       1.25
 3 Seoul Clouds       10000  9.99     8.82     9.99     1015       46       0.94
 4 Seoul Clouds       10000  7.87     7.87     7.87     1014       46       0.83
 5 Seoul Clouds       10000 10.1     10.1     10.1      1014       37       1.96
 6 Seoul Rain         10000  9.74     9.74     9.74     1014       48       3.24
 7 Seoul Clouds       10000 11.4     11.4     11.4      1012       44       5.65
 8 Seoul Rain         10000  9.75     9.75     9.75     1012       57       5.63
 9 Seoul Rain         10000  9.11     9.11     9.11     1013       51       4.91
10 Seoul Clear        10000  8.33     8.33     8.33     1013       62       4.49
# ℹ 150 more rows
# ℹ 3 more variables: WIND_DEG <dbl>, SEASON <chr>, FORECAST_DATETIME <dttm>

[[4]]
# A tibble: 26,569 × 11
   CITY        CITY_ASCII     LAT   LNG COUNTRY   ISO2  ISO3  ADMIN_NAME CAPITAL
   <chr>       <chr>        <dbl> <dbl> <chr>     <chr> <chr> <chr>      <chr>
 1 Tokyo       Tokyo        35.7  140.  Japan     JP    JPN   Tōkyō      primary
 2 Jakarta     Jakarta      -6.21 107.  Indonesia ID    IDN   Jakarta    primary
 3 Delhi       Delhi        28.7   77.2 India     IN    IND   Delhi      admin
 4 Mumbai      Mumbai       19.0   72.8 India     IN    IND   Mahārāsht… admin
 5 Manila      Manila       14.6  121.  Philippi… PH    PHL   Manila     primary
 6 Shanghai    Shanghai     31.2  121.  China     CN    CHN   Shanghai   admin
 7 São Paulo   Sao Paulo   -23.6  -46.6 Brazil    BR    BRA   São Paulo  admin
 8 Seoul       Seoul        37.6  127   Korea, S… KR    KOR   Seoul      primary
 9 Mexico City Mexico City  19.4  -99.1 Mexico    MX    MEX   Ciudad de… primary
10 Guangzhou   Guangzhou    23.1  113.  China     CN    CHN   Guangdong  admin
# ℹ 26,559 more rows
# ℹ 2 more variables: POPULATION <dbl>, ID <dbl>

Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Dataset: /content/raw_bike_sharing_systems.csv
 [1] "COUNTRY"         "CITY"            "NAME"            "SYSTEM"
 [5] "OPERATOR"        "LAUNCHED"        "DISCONTINUED"    "STATIONS"
 [9] "BICYCLES"        "DAILY_RIDERSHIP"

Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Dataset: /content/raw_seoul_bike_sharing.csv
 [1] "DATE"                  "RENTED_BIKE_COUNT"     "HOUR"
 [4] "TEMPERATURE"           "HUMIDITY"              "WIND_SPEED"
 [7] "VISIBILITY"            "DEW_POINT_TEMPERATURE" "SOLAR_RADIATION"
[10] "RAINFALL"              "SNOWFALL"              "SEASONS"
[13] "HOLIDAY"               "FUNCTIONING_DAY"

Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): CITY, WEATHER, SEASON
dbl  (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPE...
dttm (1): FORECAST_DATETIME

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Dataset: /content/raw_cities_weather_forecast.csv
 [1] "CITY"              "WEATHER"           "VISIBILITY"
 [4] "TEMP"              "TEMP_MIN"          "TEMP_MAX"
 [7] "PRESSURE"          "HUMIDITY"          "WIND_SPEED"
[10] "WIND_DEG"          "SEASON"            "FORECAST_DATETIME"

Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Dataset: /content/raw_worldcities.csv
 [1] "CITY"       "CITY_ASCII" "LAT"        "LNG"        "COUNTRY"
 [6] "ISO2"       "ISO3"       "ADMIN_NAME" "CAPITAL"    "POPULATION"
[11] "ID"

In [ ]:
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
head(bike_sharing_df)

  COUNTRY   CITY                  NAME                 SYSTEM
1 Albania   Tirana                Ecovolis             NA
2 Argentina Mendoza               Metrobici            NA
3 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
4 Argentina Buenos Aires          Ecobici              Serttel Brasil
5 Argentina Rosario               Mi Bici Tu Bici[11]  NA
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March 2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27 November 2016 NA                   8
4 Bike In Baires Consortium.[10] 2010             NA                   400
5 NA                             2 December 2015  NA                   47
6 Motivate                       June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

In [ ]:
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

In [ ]:
sub_bike_sharing_df %>%
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

In [ ]:
find_character <- function(strings) grepl("[^0-9]", strings)

In [ ]:
sub_bike_sharing_df %>%
    select(BICYCLES) %>%
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  4115[22]
2  310[59]
3  500[72]
4  [75]
5  180[76]
6  600[77]
7  [78]
8  initially 800 (later 2500)
9  100 (220)
10 370[114]

In [ ]:
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [ ]:
sub_bike_sharing_df %>%
    select(COUNTRY) %>%
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

In [ ]:
extract_num <- function(columns) {
  digitals_pattern <- "\\d+"  # Pattern matching one or more digits

  # Find the first match using str_extract and convert to numeric
  columns <- str_extract(columns, digitals_pattern)
  columns <- as.numeric(columns)

  return(columns)
}

In [ ]:
# Define a pattern matching a reference link such as [1]
ref_pattern <- "\\[\\d+\\]"

# Function to remove reference links using stringr::str_replace_all
remove_ref <- function(strings) {
  result <- str_replace_all(strings, ref_pattern, "")
  return(result)
}

In [ ]:
# Apply the remove_ref function to CITY and SYSTEM columns using dplyr::mutate
sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(CITY = remove_ref(CITY),
         SYSTEM = remove_ref(SYSTEM))

In [ ]:
# Check whether all reference links are removed
result <- sub_bike_sharing_df %>%
  select(CITY, SYSTEM, BICYCLES) %>%
  filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

# Print the result
print(result)

# A tibble: 25 × 3
   CITY                                                          SYSTEM BICYCLES
   <chr>                                                         <chr>  <chr>
 1 Brussels                                                      3 Gen… 4115[22]
 2 Limassol (& Agios Dometios, Aglandjia, Dali, Engomi, Latsia,… 3 Gen… 310[59]
 3 Prague                                                        NA     500[72]
 4 Prague 7                                                      4 Gen… [75]
 5 Prostějov                                                     3 Gen… 180[76]
 6 Ostrava                                                       3 Gen… 600[77]
 7 Farsø                                                         2 Gen  [78]
 8 Batumi                                                        3 Gen… 370[114]
 9 Darmstadt                                                     3 & 4… 350 [12…
10 Corfu                                                         3 Gen… 100[58]
# ℹ 15 more rows

In [ ]:
# Define a pattern matching a reference link such as [1]
ref_pattern <- "\\[\\d+\\]"

# Function to remove reference links using stringr::str_replace_all
remove_ref <- function(strings) {
  result <- str_replace_all(strings, ref_pattern, "")
  return(result)
}

In [ ]:
# Apply the remove_ref function to CITY and SYSTEM columns using dplyr::mutate
sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(CITY = remove_ref(CITY),
         SYSTEM = remove_ref(SYSTEM))

In [ ]:
# Check whether all reference links are removed
result <- sub_bike_sharing_df %>%
  select(CITY, SYSTEM, BICYCLES) %>%
  filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

# Print the result
print(result)

# A tibble: 25 × 3
   CITY                                                          SYSTEM BICYCLES
   <chr>                                                         <chr>  <chr>
 1 Brussels                                                      3 Gen… 4115[22]
 2 Limassol (& Agios Dometios, Aglandjia, Dali, Engomi, Latsia,… 3 Gen… 310[59]
 3 Prague                                                        NA     500[72]
 4 Prague 7                                                      4 Gen… [75]
 5 Prostějov                                                     3 Gen… 180[76]
 6 Ostrava                                                       3 Gen… 600[77]
 7 Farsø                                                         2 Gen  [78]
 8 Batumi                                                        3 Gen… 370[114]
 9 Darmstadt                                                     3 & 4… 350 [12…
10 Corfu                                                         3 Gen… 100[58]
# ℹ 15 more rows

In [ ]:
# Define a digital pattern to extract the first numeric substring
digitals_pattern <- "\\d+"

# Function to extract numeric value using stringr::str_extract and convert to numeric
extract_num <- function(columns) {
  result <- str_extract(columns, digitals_pattern)
  result <- as.numeric(result)
  return(result)
}

In [ ]:
# Apply the extract_num function to the BICYCLES column using dplyr::mutate
sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(BICYCLES = extract_num(BICYCLES))

In [ ]:
# Check descriptive statistics of the numeric BICYCLES column
summary(sub_bike_sharing_df$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      5     100     343    2012    1400   78000      76

In [ ]:
# Write cleaned bike-sharing systems dataset to a CSV file named bike_sharing_systems.csv
write_csv(sub_bike_sharing_df, "bike_sharing_systems.csv", col_names = TRUE)